@font-face {
    font-family: 'Chicago';
    src: url(../Fonts/Chicago.ttf);
}

@font-face {
    font-family: 'unifont';
    src: url(../Fonts/unifont-16.0.02.otf);
}

html {
    background-color: #555;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.box {
    width: 400px;
    height: 215px;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    outline: 2px solid black;
    outline-offset: -4px;
}

.chicago {
    font-family: 'Chicago';
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.black {
    font-family: 'Chicago';
    font-size: 12px;
    margin-left: 11px;
    color: #111;
}

.num {
    font-family: 'Chicago';
    font-size: 12px;
    margin-left: 10px;
    color: #444;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.left {
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    display: inline-block;
    padding: 3px 10px;
    width: 80px;
    font-size: 12px;
    margin-bottom: 5px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Chicago';
}

.button:active {
    background-color: black;
    color: #fff;
}