@font-face {
    font-family: 'Chicago';
    src: url(../Fonts/Chicago.ttf);
}

@font-face {
    font-family: 'unifont';
    src: url(../Fonts/unifont-16.0.02.otf);
}

html {
    background-color: #555;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.chicago {
    font-family: 'Chicago';
    font-size: 16px;
    margin-top: 12px;
    margin-left: 110px;

}

.dashedline {
    width: 90%;
    border-top:1px dotted #555;
    margin: 20px auto;
}

.text {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 10px;
    line-height: 1.5;
}

.mail {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 11px;

}

.button-box {
    display: flex;
    justify-content: flex-end;
    gap:  15px;
    margin-top: 30px;
    margin-right: 12px;
}

.button {
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Chicago';
}

.button:active {
    background-color: black;
    color: #fff;
}

.button2 {
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Chicago';
    outline: 2px solid black;
    outline-offset: 1px;
}

.button2:active {
    background-color: black;
    color: #fff;
}

.box {
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    outline: 2px solid black;
    outline-offset: -4px;
}

img {
    margin: 10px;
    float: left;
}