@font-face {
    font-family: 'workbench';
    src: url(../Fonts/Workbench-Regular.ttf);
}

@font-face {
    font-family: 'Sans';
    src: url(../Fonts/NotoSansSC-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Mono';
    src: url(../Fonts/FiraCode-Regular.ttf);
}

.title {
    font-family: 'workbench';
    font-size: 2em;
    color: white;
    padding: 20px;
}

.content {
    font-family: 'Sans';
    font-size: 1em;
    color: white;
    padding: 20px;
    border: 2px solid #aaa;
}

html {
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #000;
    background-color: white;
}

.navbar {
    background-color: black;
    color: white;
    font-family: 'Open Sans';
    padding: 20px;
}

.sidebar {
    width: 120px;
    height: 300px;
    position: fixed;
    color: white;
    font-family: 'Open Sans';
    padding: 10px;
    line-height: 1.8;
    border:2px solid #aaa;
}

@media screen and (max-width: 650px) {
    .sidebar {
        display: none;
    }
    .navbar {
        display: block;
    }
    .content {
        margin-left: 0;;
    }
}

@media screen and (min-width: 650px) {
    .navbar {
        display: none;
    }
    .sidebar {
        display: block;
    }
    .content {
        margin-left: 150px;
        max-width: 600px;
    }
}

.paragraph-title {
    font-family: 'Sans';
    font-size: 1.5em;
    color: white;
    padding: 5px;
    line-height: 2;
}

.paragraph-title-2 {
    font-family: 'Sans';
    font-size: 1.2em;
    color: white;
    padding: 5px;
    line-height: 2;
}

.paragraph {
    font-family: 'Sans';
    font-size: 1em;
    color: white;
    padding: 5px;
    line-height: 2;
}

p {
    font-family: 'Sans';
    font-size: 1em;
    color: white;
    padding: 5px;
    line-height: 2;
}

.open-title {
    font-family: 'Open Sans';
    font-size: 1.5em;
    color: white;
    padding: 5px;
    line-height: 2;
}

.Copyright {
    font-family: 'Open Sans';
    font-size: 0.8em;
    color: white;
    padding: 5px;
    line-height: 1;
}

.date {
    font-family: 'Open Sans';
    font-size: 0.8em;
    color: white;
    padding: 5px;
    line-height: 1;
}

.code {
    font-family: 'Mono';
    font-size: 1em;
    color: #fff;
    background-color: #1f1f1f;
    padding: 10px;
    border: 2px solid #1f1f1f;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
}