@font-face {
    font-family: 'Chicago';
    src: url(../Fonts/Chicago.ttf);
}

@font-face {
    font-family: 'unifont';
    src: url(../Fonts/unifont-16.0.02.otf);
}

html {
    background-color: #555;
}

.chicago {
    font-family: 'Chicago';
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

body {
    background-color: #fff;
    color: black;
    max-width: 600px;
    height: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    outline: 2px solid black;
    outline-offset: -4px;
}

.dashedline {
    width: 96%;
    border-top:1px dotted #555;
    margin: 20px auto;
}

.copyright {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    font-family: 'unifont', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    line-height: 2;
    border-collapse: collapse;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    font-family: 'unifont', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

p {
    font-family: 'unifont', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5;
}

ul {
    list-style-type: square;
}

li {
    font-family: 'unifont', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.5;
}

.date {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}

a {
    color: #0000ff;
}

a:hover {
    background-color: #0000ff;
    color: #fff;
}