@font-face {
    font-family: unifont;
    src: url(../fonts/unifont.otf);
}
@font-face {
    font-family: sentient;
    font-weight: bold;
    src: url(../fonts/Sentient-Bold.otf);
}

:root {
    --bg-color: #d8e3ed;
    --text-color: #444f5d;
    --highlight-color: #b7c2d0;
    --scrollbar-color: #b5c0ce;
    --pre-code-color: #ced9e3;
}
[data-theme="dark"] {
    --bg-color: #242931;
    --text-color: #e9f0f5;
    --highlight-color: #444f5d;
    --scrollbar-color: #39424e;
    --pre-code-color: #2e3640;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.title-Index {
    font-family: 'sentient';
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
}

.os-macos .title {
    font-family: 'Courier', 'STHeitiSC-Light','unifont', sans-serif;
    font-size: 16px;
    color: var(--text-color);
} 
html:not(.os-macos) .title {
    font-family: 'unifont', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.os-macos p {
    font-family: 'Courier', 'STHeitiSC-Light','unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
    text-align: justify;
}
html:not(.os-macos) p {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
    text-align: justify;
}

.os-macos .novel {
    font-family: 'Courier', 'STSongti-SC-Regular', 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
}
html:not(.os-macos) .novel {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
}

.textbox {
    background-color: var(--pre-code-color);
}

.os-macos pre code {
    display: block;
    font-family: 'Courier New', 'STHeitiSC-Light', 'unifont';
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
    background-color: var(--pre-code-color);
    padding: 10px;
    overflow-x: auto;
    white-space: pre;
    scrollbar-width: 5px;
    scrollbar-color: var(--scrollbar-color) var(--pre-code-color);
}
html:not(.os-macos) pre code {
    display: block;
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
    background-color: var(--pre-code-color);
    padding: 10px;
    overflow-x: auto;
    white-space: pre;
    scrollbar-width: 5px;
    scrollbar-color: var(--scrollbar-color) var(--pre-code-color);
}

p.highlight {
    background-color: var(--highlight-color);
    line-height: 1.6;
}

html {
    background-color: var(--bg-color);
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: var(--text-color);
}

a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.os-macos .copyright {
    font-family: 'Courier New', 'unifont';
    font-size: 12px;
    color: var(--text-color);
    line-height: 1;
}
html:not(.os-macos) .copyright {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    color: var(--text-color);
    line-height: 1;
}

.os-macos .index {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
html:not(.os-macos) .index {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

@media (max-width: 800px) {
    body {
        padding: 10px;
        margin: 20px 5px 5px 10px;
    }
}

.os-macos .date {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}
html:not(.os-macos) .date {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.os-macos .pagesEntrance {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont';
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
}
html:not(.os-macos) .pagesEntrance {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    line-height: 2;
}

.os-macos .legacyEntrance {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 2;
}
html:not(.os-macos) .legacyEntrance {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 2;
}

.os-macos li {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

html:not(.os-macos) li {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.pics {
    width: 100%;
    height: auto;
}

.os-macos .back {
    font-family: 'Courier', 'STHeitiSC-Light', 'unifont', sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
}
html:not(.os-macos) .back {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
}