@font-face {
    font-family: 'Noto Serif';
    src: url('./Fonts/NotoSerif-ExtraBold.ttf') format('truetype');
    font-weight: 700 ;
}

@font-face {
    font-family: 'Noto Sans CS';
    src: url('./Fonts/NotoSansSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif CS';
    src: url('./Fonts/NotoSerifSC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Fonts/OpenSans-Bold.ttf') format('truetype');
}

h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
}

h2,
h3 {
    font-family: 'Noto Sans CS';
    font-weight: 700;
}

p,
li {
    font-family: 'Noto Sans CS';
}

table {
    font-family: 'Open Sans';
    font-size: 14px;
}

small {
    font-family: 'Open Sans';
    font-size: 12px;
}

.serif-title {
    font-family: 'Noto Serif';
    font-weight: 700;
}

.serif-title-CS {
    font-family: 'Noto Serif CS';
    font-weight: 500;
}

.link {
    font-family: 'Open Sans';
    font-size: 16px;
}

.grey {
    color: #adadad;
}