@font-face {
    font-family: 'Noto Serif';
    src: url('../Fonts/NotoSerif-ExtraBold.ttf') format('truetype');
    font-weight: 700 ;
}

h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans CS';
    src: url('../Fonts/NotoSansSC-Regular.ttf') format('truetype');
}

h2,
h3 {
    font-family: 'Noto Sans CS';
    font-weight: 700;
}

p,
li {
    font-family: 'Noto Sans CS';
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Bold.ttf') format('truetype');
}

table {
    font-family: 'Open Sans';
    font-size: 14px;
}

small {
    font-family: 'Open Sans';
    font-size: 12px;
}

.link {
    font-family: 'Open Sans';
    font-size: 16px;
}

@font-face {
    font-family: 'Noto Serif CS';
    src: url('../Fonts/NotoSerifSC-Bold.ttf') format('truetype');
}

.serif-title-CS {
    font-family: 'Noto Serif CS';
    font-weight: 500;
}

.grey {
    color: #adadad;
}

body {
    width: 600px;
    margin: 0 auto;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    border: 0px;
}

html {
    background-color: #dbe3e6;
}